{% extends config['TEMPLATE_ROOT'] + "base.html" %}
{% set page = {
        'path': path,
        'title' : 'Server Update',
        'update_result' : filmsoc.git.update()
        }
%}



{% block content %}
    {% if page['title'] %}
        <h1>{{ page['title'] }}</h1>
    {% endif %}
    
<p> Current Version: 
    {{ filmsoc.git.get_current_commit() }}
    ({{ filmsoc.git.get_current_commit_date() }})
</p>

{% if page['update_result'] != 'Already up-to-date.' %}
    <pre>
        {{ page['update_result'] }}
    </pre>
    <p>Now at: 
        {{ filmsoc.git.get_current_commit() }}
        ({{ filmsoc.git.get_current_commit_date() }})
    </p>
{% endif %}

{% endblock content %}